Source: libailsa
Section: devel
Priority: optional
Build-Depends: debhelper-compat (= 13)
Maintainer: Iain M Conochie <iain@ailsatech.net>
Standards-Version: 4.6.2
Homepage: https://github.com/shihad1972/libailsa
Rules-Requires-Root: no

Package: libailsa
Section: libs
Architecture: amd64
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library functions from ailsatech
 a suite of useful C functions from ailsatech

Package: libailsa-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsharedlib1 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libailsa
 Development headers to include for the libailsa library
